<section class="py-5">
  <h1 class="display-3">
    Thank you
  </h1>
  <p class="lead">Download link for your purchased movie will be sent to your email shortly...</p>
  <a href="/" class="btn btn-dark btn-lg">Go Back to Movie List</a>

</section>
